/* For home */
*{
    font-family:'Gotham';
}

.html-body{
    background-color: #282c3b;
}

.container{
    padding: 20px;
    border-radius: 3px;
    background-color: #282c3b;
}

.header{
    display: flex;
    justify-content:space-between;
    color: #dbdad9;
}

.header-left{
    margin-left: 40px;
}

.header-mid{
    cursor: pointer;
    align-items: center;
}

.header-mid > #notification{
    color: #f3b955;
}

.header-right{
    margin-right: 40px;
}

.body{
    display: flex;
    align-items: center;
}

.body > img{
    height: 500px;
    width: 390px;
    object-fit: contain;
    margin-left: 30px;
}

.body > .content{
    margin-left: 10px;
    color: #dbdad9;
}

.body > .content > #p1{
    color: #f9bd55;
    font-weight: bold;
    margin-bottom: 0;
}

.body > .content > #p2{
    color: #dbdad9;
    font-size: 45px; 
    font-weight: bold;
    margin-bottom: 0;
}

.body > .content > #p3{
    color: #dbdad9;
    font-size: 9px; 
    margin-bottom: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body > .content > #p4{
    color: #dbdad9;
    font-size: 9px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

.body > .content > a{
    padding: 15px 40px;
    color: #f9bd55;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    background-color: rgba(58, 60, 75, .5);
}

.body > .links{
    writing-mode: vertical-rl;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.body > .links > p{
    color: #dbdad9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
}

.body > .links > #facebook{
    color:#3b5998;
    transform: rotate(90deg);
    margin-bottom: 10px;
    cursor: pointer;
}

.body > .links > #twitter{
    color: #00acee;
    transform: rotate(90deg);
    cursor: pointer;
}

/* For colors */
.box-container{
    height: 200px;
    width: 230px;
    perspective: 800px;
    transform-style: preserve-3d;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.box-container > #p-colors{
    color: #f9bd55;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center;
}

.box-container > .box{
    width: 100%;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}

@keyframes rotate{
    from{}
    to{
        transform: rotateY(360deg);
    }
}

.box-container > .box > img{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 10px;
}

.box-container > .box > img:nth-child(1){
    transform: rotateY(72deg) translateZ(200px);
}

.box-container > .box > img:nth-child(2){
    transform: rotateY(144deg) translateZ(200px);
}

.box-container > .box > img:nth-child(3){
    transform: rotateY(216deg) translateZ(200px);
}

.box-container > .box > img:nth-child(4){
    transform: rotateY(288deg) translateZ(200px);
}

.box-container > .box > img:nth-child(5){
    transform: rotateY(360deg) translateZ(200px);
}

/* For zoom */
.zoom{
    margin-top: 30%;
}

.zoom > #p-zoom{
    color: #f9bd55;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.img-zoom-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282c3b;
}

.img-zoom-container > img{
    height: 500px;
    width: 390px;
    object-fit: contain;
}

.img-zoom-lens{
    position: absolute;
    width: 40px;
    height: 40px;
}

.img-zoom-result{
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
}